<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlinesApp</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Burning Airlines <span class="glyphicon glyphicon-fire"></span></a>
    </div>
  <ul class="nav navbar-nav navbar-right">
    <% if @current_user.present? %>
    <li><%= link_to "Logout #{ @current_user.email }", login_path, :method => :delete%></li>
    <% end %>
  </ul>

  </nav>
<p id="thisIsInsecure" data-user-id="<%= @current_user.id if @current_user.present? %>"></p>

<%= yield %>

</body>
</html>
